@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    background-color: #EBF2F6;
    display: flex;
	justify-content: center;
	align-items: center;
    min-height: 100vh;
}

.principal {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    height: 550px;
    width: 1200px;
}

.principal-conteudo {
    display: flex;
    justify-content: center;
    gap: 30%;
    border: 0.4px solid #e26600;
    width: 90%;
    height: 90%;
}

.criarus {
    background-color: hsl(0, 0%, 78%);
    height: 300px;
    width: 300px;
    margin-top: 130px;
    border-right: 0.4px solid #FFF2E7;
    
}

.dados {
    background-color: hsl(0, 0%, 78%);
    height: 300px;
    width: 300px;
    margin-top: 130px;
}

.h1 {
    text-align: center;
}



.button {
    margin-left: 15%;
    width: 70%;
	height: 50px;
    justify-content: center;
    border: none;
    background-color: #7EB0F5;
    cursor: pointer;
    border-radius: 5px;
}

.button:hover{
    background-color: #CADDF4;
}